<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.icodegarden.commons.test.web.mapper.ConsumerSystemMapper">

	<resultMap id="baseMap" type="io.github.icodegarden.commons.test.web.pojo.persistence.ConsumerSystemPO">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="saslUsername" column="sasl_username" />
		<result property="saslPassword" column="sasl_password" />
		<result property="appId" column="app_id" />
		<result property="actived" column="is_actived" />
	</resultMap>
	
	<resultMap id="DOMap" type="io.github.icodegarden.commons.test.web.pojo.persistence.ConsumerSystemPO" extends="baseMap">
	</resultMap>

	<insert id="add" parameterType="io.github.icodegarden.commons.test.web.pojo.persistence.ConsumerSystemPO" keyProperty="id">
		insert into `consumer_system` (
		<if test="id != null">`id`,</if>
		<if test="name != null">`name`,</if>
		<if test="email != null">`email`,</if>
		<if test="saslUsername != null">`sasl_username`,</if>
		<if test="saslPassword != null">`sasl_password`,</if>
		<if test="appId != null">`app_id`,</if>
		<if test="actived != null">`is_actived`,</if>
		`created_by`,
		`updated_by`
		)
		values (
		<if test="id != null">#{id},</if>
		<if test="name != null">#{name},</if>
		<if test="email != null">#{email},</if>
		<if test="saslUsername != null">#{saslUsername},</if>
		<if test="saslPassword != null">#{saslPassword},</if>
		<if test="appId != null">#{appId},</if>
		<if test="actived != null">#{actived},</if>
		'xff',
		'xff'
		)
	</insert>
	
	<sql id="findPrefix">
		select 
			a.id as id,
			a.`name` as `name`,
			a.`email` as `email`,
			a.`sasl_username` as `sasl_username`,
			a.`sasl_password` as `sasl_password`,
			a.app_id as app_id,
			a.is_actived as is_actived
		from 
		`consumer_system` a
	</sql>
	
	<select id="findOne" resultMap="DOMap">
		<include refid="findPrefix"/>
		where a.id = #{id}
	</select>
	
	<update id="update" parameterType="io.github.icodegarden.commons.test.web.pojo.persistence.ConsumerSystemPO$Update">
		update consumer_system 
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null">`name` = #{name},</if>
			<if test="saslUsername != null">`sasl_username` = #{saslUsername},</if>
			<if test="saslPassword != null">`sasl_password` = #{saslPassword},</if>
			<if test="actived != null">is_actived = #{actived},</if>
		</trim>
		where id = #{id}
	</update>
	
<!-- 	<delete id="delete"> -->
<!-- 		delete from vehicle_model_available_function where id = #{id} -->
<!-- 	</delete> -->
</mapper>